.container {
    width: 100%;
    max-width: 960px;
    margin: 20px;
    color: #e4e4e4; // Text color for dark theme
  }
  
  .title {
    margin-bottom: 12px;
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .tableContainer {
    background-color: #292929;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 0.875rem;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .headerRow {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 3fr 3fr 1fr 1fr;
    padding: 12px 24px;
    border-bottom: 1px solid #444;
    color: #999;
  
    @media (max-width: 640px) {
      display: none;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #444;
    color: #ccc;
  
    &:hover {
      background-color: #333;
    }
  
    @media (min-width: 641px) {
      display: grid;
      grid-template-columns: 0.5fr 3fr 1fr 3fr 3fr 1fr 1fr;
    }
  }
  
  .hidden {
    display: none;
  
    @media (min-width: 641px) {
      display: block;
    }
  }
  
  .patient,
  .doctor {
    display: flex;
    align-items: center;
    gap: 8px;
  
    img {
      width: 32px;
      border-radius: 50%;
      background-color: #444;
    }
  }
  
  .statusCancelled {
    color: #f87171;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  .statusCompleted {
    color: #34d399;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  .cancelIcon {
    width: 40px;
    cursor: pointer;
  }
  